  <div class="row">
    <div class="d-none d-md-block col-lg-3">
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <div class="list-group">
            <a class="list-group-item list-group-item-action" routerLink="/user/profile" routerLinkActive="active">Профиль</a>
            <a class="list-group-item list-group-item-action" routerLink="/user/friends" routerLinkActive="active">Друзья</a>
            <a class="list-group-item list-group-item-action" routerLink="/user/events" routerLinkActive="active" >Планы</a>
            <a class="list-group-item list-group-item-action" routerLink="/user/settings" routerLinkActive="active">Настройки</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <router-outlet />
    </div>
  </div>